extends layouts/my-layouts.pug

block styles
  link(rel="stylesheet" href="/css/main.css")

block content
  main.main
    form(action="/admin/product" method="POST") Title:
      input(type="text" name="title")
      button(type="submit") Send

block scripts
  script(src="js/shop.js")
